/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  margin-left: 25px;
}
/*select html and set the background color, color, font family with fallback, and font size. */
html {
  background-image: url("https://img.freepik.com/premium-vector/christmas-snowflake-clipart_926202-102.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

header {
  text-align: center;
}
/*change img height to 300px and width to auto*/
img {
  height: 300px;
  width: auto;
}
/*change subtitle font size to larger than the default. */
h3 {
  font-size: 20px;
  color: red;
}
/*Change the times to a bold font-weight*/
.time {
  font-weight: bold;
  color:blue;
  font-size: 19px;
}

/*select the li inside of ingredients to list-style: square*/
li {
  list-style: square;
}
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
footer a:link {
color:blue;
}

footer a:visited {
  color:black;
}

a:hover {
  color:greenyellow;
  text-decoration: none;
}

a:active {
  color: red;
}
/*select h1 and h2 elements and change their case to uppercase*/
h1, h2 {
  text-transform: uppercase;
}
